@import "../../../styles/breakpoints";

.bym-select {
  display: flex;
  align-items: center;
  padding: 0 16px;

  &__book {
    display: flex;
    align-items: center;

    .mat-mdc-icon-button {
      position: relative;
      right: 2.59rem;
      color: currentColor;
    }
  }

  mat-form-field.mat-mdc-form-field {
    margin-right: 16px;

    &:first-child {
      min-width: 280px;
    }

    &:last-child {
      margin-right: 0;
      width: 200px;
    }
  }
}

.btn-menu-chatpers {
    display: none;
  }

.menu-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 8px;
    gap: 4px;
    .mat-mdc-menu-item {
      width: 60px;
      justify-content: center;
      background-color: #e4ecf1;
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  
      &:hover {
        background-color: var(--primary-lighter-color);
      }
    }
  }

  @include breakpoint-down($sm) {
    .bym-select {
        padding: 0 4px;
      .mat-mdc-icon-button {
        right: 0.2rem;
      }
    }
  }

  @include breakpoint-down($md) {

  }