<div class="bym-select">
    <div class="bym-select__book">
      <!-- <mat-label>Buch auswählen</mat-label> -->
      <input matInput type="text" 
        [(ngModel)]="bookTitleWithChapterSelected" 
        (ngModelChange)="bookChapterChanged($event)" />
      <button
        color="primary"
        matSuffix
        mat-icon-button
        [matMenuTriggerFor]="menu_book"
      >
        <mat-icon >library_books</mat-icon>
      </button>
    </div>
  </div>

  <button mat-button 
class="btn-menu-chatpers" 
[matMenuTriggerFor]="menu_chapters" 
#menuChaptersTrigger="matMenuTrigger">Menu</button>
<mat-menu #menu_book="matMenu" xPosition="before" backdropClass="bym-select-menu">
  <button mat-menu-item *ngFor="let book of books" (click)="selectBook(book)">{{ book.title }}</button>
</mat-menu>

<mat-menu #menu_chapters="matMenu" xPosition="before" backdropClass="bym-select-chapter-menu">
  <div class="menu-content">
    <button mat-menu-item *ngFor="let chapter of chapters; index as i" (click)="selectChapter(chapter)">{{ i + 1 }}</button>
  </div>
</mat-menu>
