  <div class="bym-select" [ngClass]="{'icon-enabled': showIcon}">
      <!-- <mat-label>Version auswählen</mat-label> -->
      <img src="{{'assets/images/' + defaultValue?.toLocaleLowerCase() + '.png'}}" alt="">
      <mat-select (selectionChange)="selectValue($event)" [(value)]="defaultValue">
        <mat-option *ngFor="let value of values" [value]="value">
          {{value}}
        </mat-option>
      </mat-select>

  </div>