@import "../../../styles/breakpoints";

.bym-select {
  padding: 0 16px;
  width: 8.5rem;

  .mat-mdc-select {
    border-bottom: 1px solid;
  }

  img {
    display: none;
    position: relative;
    z-index: 2;
    left: 1.85rem;
    width: 32px;
    width: 24px;
    height: 100%;
  }

  &.icon-enabled {
    display: flex;
    align-items: center;
    width: 7rem;

    .mat-mdc-select {
      border-bottom: none;
    }
    img {
      display: block;
    }
  }
}

@include breakpoint-down($sm) {
  .bym-select {
    padding: 0 8px;
    width: 6.5rem;

    .mat-mdc-select {
      border-bottom: none;
    }
    &.icon-enabled {
      width: 6.5rem;
    }
    .mat-mdc-icon-button {
      right: 0.2rem;
    }
  }
}
