<div class="bym-search-bar">
    <input matInput 
      type="text" 
      [(ngModel)]="searchText"
      >
    <button matSuffix 
    *ngIf="searchText"
    color="primary"
    (click)="clearSearch()"
    mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
  <button matSuffix 
      color="primary"
      (click)="searchChanged()"
      mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
</div>