$sm: 36rem; // Small devices (landscape phones, 576px and up)
$md: 48.02rem; // Medium devices (tablets, 768px and up)
$lg: 64rem; // Large Devices(Desktop, 1024px and up)

@mixin breakpoint-up($lower) {
    @media (min-width: $lower) {
        @content;
    }
}

@mixin breakpoint-down($upper) {
    @media (max-width: $upper - .02) {
        @content;
    }
}

@mixin breakpoint-between($lower, $upper) {
    @media (min-width: $lower) and (max-width: $upper - .02) {
        @content;
    }
}