@import './breakpoints';

.mat-mdc-select {
    padding: 8px;
    font-weight: 400;
    color: currentColor;

    .mat-mdc-select-value {
        color: currentColor;
    }

    .mat-mdc-select-arrow {
        color: currentColor;
    }
}

input {
    border: none;
    background: none;
    padding: 8px;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: currentColor;
    border-bottom: 1px solid;
    // min-width: 280px;
  }

  // Small devices (landscape phones, 576px and up)
  @include breakpoint-down($sm) {
    .mat-toolbar {
        .mat-mdc-select {
            font-size: 13px;
            border-bottom: none;
        }

        bym-select-book {
            input {
                font-size: 13px;
                border-bottom: none;
            }
        }
    }
  }

  // Medium devices (tablets, 768px and up)
  @include breakpoint-down($md) {
    .mat-toolbar {
        bym-select-book {
            input {
                width: 100%;
                padding: 8px 4px;
            }
        }
        &.mobile {
            bym-search-bar {
                input {
                    width: 100%;
                }
            }
        }
    }
  }