<ng-container *ngIf="osis_books$ | async as books">
  <bym-header-bar
    (toggleSidenav)="snav.toggle()"
    [books]="books"
    [versions]="bibleVersions"
    [langs]="langs"
  ></bym-header-bar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a
          mat-list-item
          [routerLink]="nav.path"
          routerLinkActive="active"
          (click)="snav.toggle()"
          *ngFor="let nav of navs"
          >{{ nav.name | translate }}</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <bym-footer-bar></bym-footer-bar>
</ng-container>
