.mat-sidenav {
    width: 320px;
}

.mat-sidenav-container {
    min-height: calc(100vh - (80px + 64px));

    .mat-drawer-content {
        width: 60.5%;
        margin: 1rem auto;
        padding: 16px;
    }
}


@media (max-width: 575.98px) { 
    .mat-sidenav {
        width: 100%;
    }

    .mat-sidenav-container {
        .mat-drawer-content {
            width: calc(100% - 2rem);
            margin: 1rem;
            padding: 1rem 0.5rem;
        }
    }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .mat-sidenav {
        width: 280px;
    }

    .mat-sidenav-container {
        .mat-drawer-content {
            width: calc(100% - 2rem);
        }
    }
 }

 @media (min-width: 768px) {
    .mat-sidenav {
        width: 300px;
    }
}