@import '../../../styles/breakpoints';

.mat-toolbar {
    display: flex;
    height: 72px;

    bym-select {
        margin-right: 32px;
    }

    .mat-mdc-mini-fab.mat-accent {
        --mdc-fab-container-color: #ffffff;
    }

    &.mobile {
        display: none;
        height: 60px;
        bym-search-bar {
            display: none;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@include breakpoint-down($sm) {
    .mat-toolbar {
        bym-select {
            margin-right: 0;
            width: 30%;
        }
        bym-search-bar {
            display: none;
        }
        &:first-child {
            padding: 0 10px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@include breakpoint-down($md) {
    .mat-toolbar {
        bym-select-book {
            width: 100%;
        }
        bym-search-bar {
            display: none;
        }
        bym-select:last-of-type {
            display: none;
        }

        &.mobile {
            display: flex;
            justify-content: space-around;
            bym-select {
                display: block;
                width: 30%;
            }
            bym-search-bar {
                display: block;
                width: 100%;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include breakpoint-down($lg) {
    .mat-toolbar {}
}