<mat-toolbar class="mat-elevation-z2" color="primary">
  <button mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <bym-select-book
    [books]="books"
    [selectedBook]="selectedBook"
    [chapterOsisId]="chapterOsisId"
    [bookTitleWithChapterSelected]="selectedBookTitleWithChapter"
    (bookSelected)="selectBook($event)"
    (chapterSelected)="selectChapter($event)"
  ></bym-select-book>
  <bym-select 
  [defaultValue]="defaultVersion" 
  [values]="versionsMapped()" 
  (valueSelected)="selectVersion($event)"></bym-select>
  <bym-search-bar (searchTerm)="searchTextChanged($event)"></bym-search-bar>
  <bym-select 
  [defaultValue]="defaultLang" 
  [values]="langsMapped()"
  [showIcon]="true"
  (valueSelected)="selectLang($event)"></bym-select>
</mat-toolbar>
<mat-toolbar class="mat-elevation-z2 mobile">
  <bym-search-bar (searchTerm)="searchTextChanged($event)"></bym-search-bar>
  <bym-select 
  [defaultValue]="defaultLang" 
  [values]="langsMapped()"
  [showIcon]="true"
  (valueSelected)="selectLang($event)"></bym-select>
</mat-toolbar>