// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@import './styles/theme-config';
@import './styles/select';
@import './styles/breakpoints';

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';  
  .mat-badge-content {
    font-family: 'Roboto';
  }
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($bym-webseite-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*, *::before, *::after {
  box-sizing: border-box;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: var(--primary-color);
  border-radius: 6px;
}

.bym-select-menu+* .cdk-overlay-pane {
  position: absolute!important;
  top: 5px!important;
  left: 104px!important;
  height: 82%;
}

.bym-note-overlay+* .cdk-overlay-pane {
  min-width: 250px;
  max-width: 400px!important
}

.bym-select-chapter-menu+* .cdk-overlay-pane {
  position: absolute!important;
  top: 70px!important;
  left: 104px!important;
  width: 360px;

  .mat-mdc-menu-panel.mat-mdc-menu-panel {
    width: 332px;
    max-width: 360px;
  }
}

@include breakpoint-down($sm) {
  .bym-select-menu+* .cdk-overlay-pane {
    left: 60px !important;
    height: 75%;
  }
  .bym-select-chapter-menu+* .cdk-overlay-pane {
    top: 64px !important;
    left: 16px !important;
  }
}


mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.4em 0px }
mat-form-field.mat-mdc-form-field.mat-form-field-appearance-fill > .mdc-text-field { 
  top: 0.65rem; 
  //border-radius: var(--mdc-shape-small, 5px);
  // &--filled:not(.mdc-text-field--disabled) {
  //   background-color: unset;
  // }

  // &:not(.mdc-text-field--disabled) .mdc-text-field__input {
  //   color: $light-text;
  // }

  // &:not(.mdc-text-field--disabled) .mdc-floating-label {
  //   color: $light-accent-text;
  // }
}

// .mat-mdc-form-field-focus-overlay {
//   background-color: unset;
// }

// .mat-mdc-select-arrow {
//   color: $light-text;
// }

// .mat-mdc-icon-button.mat-primary {
//   --mdc-icon-button-icon-color: $light-text
// }

// .mat-mdc-select-value {
//   color: $light-text;
// }

// .mat-mdc-form-field-outline .mat-mdc-form-field-outline-start {
//   border: white !important;
// }

// .mat-mdc-form-field-outline .mat-mdc-form-field-outline-end {
//   border: white !important;
// }
