@import "../../../styles/breakpoints";

.chapter-container {
  .chapter-content {
    text-align: justify;
    .verse {
      line-height: 2rem;
      font-weight: 400;
      font-size: 1.2rem;
      padding: 5px 0;

      &:hover {
        background: #d1d8dd;
      }

      .title {
        font-weight: 500;
        margin: 1rem 0 .5rem;
        font-size: 1.3rem;
      }

      .verse-number {
        font-family: Helvetica, sans-serif;
        vertical-align: super;
        position: relative;
        left: 2px;
        font-weight: 700;
        font-size: medium;
        text-align: center;
      }
      .foot-note {
        cursor: pointer;
        font-size: .92rem;
        position: relative;
        vertical-align: super;
        color: #186c9d;
        font-weight: 500;
        right: 5px;
        line-height: 0;

      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include breakpoint-down($sm) {
  .chapter-container {
    .chapter-content {
      .verse {
        font-size: 1.1rem;
        .title {
          font-size: 1.2rem;
        }
      }
    }
  }
}
