@import '../../../styles/breakpoints';

.search-result {
  .verse-content {
    margin-bottom: 1rem;

    .foot-note {
      display: none;
    }

    .highlight {
      background-color: var(--accent-lighter-color);
    }
  }
}
.book-preview {
  display: flex;
  flex-flow: column;

  .title {
    font-weight: 500;
    font-size: 2.2rem;
    margin-right: 0.2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .intro {
    line-height: 2rem;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: justify;
  }
}

.mat-mdc-fab {
  bottom: 8.5%;

  &.btn-left {
    position: fixed;
    left: 1rem;
  }
  &.btn-right {
    position: fixed;
    right: 1rem;
  }
}

// Small devices (landscape phones, 576px and up)
@include breakpoint-down($sm) {
  .book-preview {
    .title {
      font-size: 1.75rem;
      margin-bottom: 1rem;
      margin-top: 0.25rem;
    }
  }
}
