<div class="bible-container">
    <ng-container 
        *ngIf="searchResults.length > 0;else chapterContentTpl">
        <div class="search-result">
            <div class="mat-h2">Treffer: {{searchResults.length}}</div>
            <div class="verse-content" *ngFor="let verse of searchResults">
                <span class="mat-h4"> {{ verse.osisID}} </span>
                <span class="mat-body-2" [innerHTML]="verse.text | versePipe">
                </span>
            </div>
        </div>
    </ng-container>
    <ng-template #chapterContentTpl>
        <div class="book-preview">
            <p class="title">{{bookTitleWithChapter}}</p>
            <p class="intro" *ngIf="chapterNr === '1'">{{selectedBook?.introduction}}</p>
            <!-- <button mat-icon-button>
                <mat-icon color="black">info</mat-icon>
            </button> -->
        </div>
        <bym-chapter-content [verses]="selectedChapter?.verses"></bym-chapter-content>
        <div class="arrow-navigation">
        </div>
        <button mat-fab class="btn-left" (click)="previousChapter(); $event.stopPropagation()" [disabled]="currentIndex === 0">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-fab class="btn-right" (click)="nextChapter(); $event.stopPropagation()"  [disabled]="(currentIndex + 1) === selectedBook?.chapters?.length">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </ng-template>
</div>

