<div class="vision">
    <div class="mat-h1">{{'START.TITLE' | translate}}</div>
    <div class="content mat-body-2" [innerHTML]="'START.TEXT' | translate"></div>
    <mat-tab-group animationDuration="0ms">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
    </mat-tab-group>
</div>
